@{
    ViewData["Title"] = "Home Page";
}

<div style="width:100%;height:100%;align-items:center;text-align:center">
    <div class="text-center">
        <h1 class="display-4" style="margin-bottom:40px">Welcome</h1>
        <a href="/admin/login/index" class="btn btn-primary" style="margin:auto">Continue To Admin Page</a>
    </div>
</div>


